#topline{
    background: #080c17;
    padding: 15px 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index : 100;
    width: 100%;
}

header #menu{
    margin-top: 0 !important;
}

header{
    background: transparent !important;
    height: auto !important;
}

#menu_header{
    display: flex;
    flex-direction: row;
}

.topline-item{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 16px;
    padding: 0 15px;
    margin-left: 5px;
    border-left: 1px solid #414757;
}

.topline-item:nth-child(2){
    color: #00a2fd;
}

.topline-item img{
    margin-left: 15px;
}

#desctop-opener{
    display: none;
}

.topline-item-blue{
  color: #2672a5;
}

.topline-item i{
  margin-left: 15px;
  font-size: 20px;
  padding-left: 30px;
  border-left: 1px solid lightgray;
}

#menu{
    position: fixed;
    top: 54px;
    z-index: 100;
    width: 100%;
    background: #080c17 !important;
}

#desctop-opener.open{
    display: block;
    margin-left: 15px;
    transform: translate(0, -5px);
}

.mobile-logo{
    margin-left: auto;
    margin-right: 15px;
}

#header-logo{
    margin-left: auto;
    margin-right: 20px;
    height: 24px;
    display: none;
}

.fa.fa-pencil{
    border: none !important;
}

#menu{
    padding: 15px 40px;
}

#header-logo.open{
    display: block;
}

.menu-item{
    margin-right: 110px;
}

.mobile-menu-btn{
    margin-left: 15px;
    transform: translate(0, -5px);
}

.menu-item a{
    color: white;
}

.menu-item:last-child{
    border-right: 1px solid lightgray;
    padding-right: 55px;
    margin-right: 55px;
}

.header_container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

#menu.background{
    background: #131f39;
}

#menu.open{
    opacity: 0 !important;
    background: linear-gradient(#131f39, transparent);
}

#menu.open.opacity{
    opacity: 0 !important;
}

#menu.visible{
    opacity: 1 !important;
}

.mobile-not-hidden{
    display: none;
}

.mobile-menu-btn{
    display: none;
}

.mobile-account{
    display: none;
}

.fa.fa-pencil{
        padding-left: 0;
    }

body{
    padding-top: 125px !important;
}

.header-soc:last-child{
    padding: 14px 23px;
}

#mob-op,
#desc-op{
    margin-top: 6px;
}

#header-logo.disp{
    display: none !important;
}

@media screen and (max-width: 1400px){
    .menu-item{
        margin-right: 45px;
    }
    
    .menu-item:last-child{
        border-right: 1px solid red;
        padding-right: 23px;
        margin-right: 22px;
    }
}

@media screen and (max-width: 768px){
    .mobile-menu-btn{
        display: block;
    }
    
    body{
        padding-top: 54px !important;
    }
    
    #topline{
        padding: 15px !important;
    }
    
    .fa.fa-pencil{
        border: 1px solid lightgray;
    }
    
    #desctop-opener{
        display: none !important;
    }
    
    #header-logo{
        display: block !important;
    }
    
    .mobile-hidden{
        display: none !important;
    }
    
    .topline-item{
        border: none !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    
    #menu{
        right: -100%;
        top: 54px;
        width: 100%;
        height: 95vh;
        background: #131d38 !important;
        opacity: 1 !important;
        display: flex !important;
        padding: 0 !important;
    }
    
    #menu.mobile-open{
        right: 0;
    }
    
    .menu-item{
        margin: 0;
        border-bottom: 1px solid #0f1630;
        padding: 15px 30px;
    }
    
    .logo{
        display: none !important;
    }
    
    .header_container{
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        flex-direction: column;
    }
    
    #menu_header .mobile-not-hidden{
        padding: 25px 30px !important;
    }
    
    .header-socials{
        display: flex !important;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex: 1;
    }
    
    .fa.fa-linkedin-in:before{
        content: '\f0e1';
    }
    
    .header-soc{
        color: #097cba;
        border: 1px solid #097cba;
        padding: 14px 18px;
        font-size: 22px;
        margin: 0 5px;
    }
    
    .header-soc i{
        color: #097cba;
    }
    
    .mobile-account .mobile-account-href{
        color: #097cba;
        padding-bottom: 2px;
        border-bottom: 1px solid #097cba;
    }
    
    .menu-item input{
        background: none;
        border: none;
        border-bottom: 1px solid lightgray;
        margin-left: 10px;
        width: 85%;
        color: white;
    }
    
    #menu_header{
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }
    
    .mobile-not-hidden{
        display: block;
    }
    
    #menu.open.opacity{
        opacity: 1 !important;
    }
    
    .menu-item:last-child{
        border-right: none !important;
        margin: 0 !important;
        background: #111930;
    }
    
    .mobile-account{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }
    
    .menu-item img{
        margin-left: 10px;
    }
}
