/* WordPress standarts styles */

div.wpcf7 .ajax-loader {
    visibility: hidden;
    display: inline-block;
    background-image: url('../img/ajax-loader.gif');
    width: 16px;
    height: 16px;
    border: none;
    padding: 0;
    margin: 0 0 0 4px;
    vertical-align: middle;
}